---
import Github from "./icons/Github.astro";
import Angular from "./icons/Angular.astro";
import Tailwind from "./icons/Tailwind.astro";
import Laravel from "./icons/Laravel.astro";
import Mysql from "./icons/Mysql.astro";

const TAGS = {
    Angular: {
        name: 'Angular',
        class: 'bg-gray-800 text-gray-200',
        icon: Angular
    },
    Tailwind: {
        name: 'Tailwind CSS',
        class: 'bg-gray-800/80 text-gray-200',
        icon: Tailwind
    },
    Laravel: {
        name:'Laravel',
        class: 'bg-indigo-100/70 text-gray-800',
        icon: Laravel
    },
    Mysql: {
        name: 'MySQL',
        class: 'bg-indigo-100/70 text-gray-800',
        icon: Mysql
    }
}

const PROJECTS = [
    {
        title: "TalentoDJs",
        description1:
            "Aplicación Web para escuchar Música, sesiones de DJs por géneros musicales, con funcionalidades como registro de usuarios, comentarios, avatar, likes, sección de mis favoritos...",
        description2:
            "Frontend realizado con Angular y Backend es una API RESTfull hecha en Laravel con base de datos MySQL despleguado en servidor en la nube, asegurando la escalabilidad y disponibilidad del servicio.",        
        link: "https://talentoDJs.com",
        github: "#",
        tags: [ TAGS.Angular,TAGS.Laravel , TAGS.Tailwind, TAGS.Mysql]
    },
]

---

{
    PROJECTS.map(({ title, description1, tags, description2, link }) => (
        <article class="cursor-default">
            <a href={link}>
                <h3 class="text-2xl font-semibold italic text-indigo-300/90 mb-1 text-center">
                    {title}
                </h3>
            </a>
            
            <p class="text-white/80 text-pretty">{description1}</p>
            <p class="text-white/80 mb-4 text-pretty">{description2}</p>
   
            <ul class="flex flex-row justify-center gap-x-1 md:gap-x-2 mb-2 md:ml-4">  
            {tags.map((tag) => (
                <li>
                    <span class={`flex gap-x-1 rounded-full text-xs ${tag.class} py-1 px-2`}>
                        <tag.icon class="size-4" />
                        {tag.name}
                    </span>     
                </li>
            ))}
            </ul>            
            <div class="border border-gray-800/70 shadow-md shadow-indigo-900/70 rounded-lg p-1 bg-black">
                <a href={link}>          
                <img
                    class="rounded shadow-2xl opacity-90 hover:opacity-80"
                    src= "/assets/proy.2.jpg"
                    alt="talentoDJs"
                />                
            </a>
            </div>       
            <div class="flex justify-center space-x-2 mt-6"> 
                <a href={link}>
                    <img
                    class="rounded-3xl max-h-[550px] mt-1.5 opacity-90 hover:opacity-80"
                    src= "/public/assets/proy.4.png"
                    alt="talentoDJs"/>
                
                    
                </a>
                <a href={link}>
                    <img
                    class="rounded-3xl max-h-[560px] opacity-90 hover:opacity-80"
                    src= "/public/assets/proy.3.png"
                    alt="talentoDJs"/>
                </a>
            </div>
            <span class="flex justify-center items-center text-gray-400 mt-6 group">
                <Github class="size-5 mr-2 group-hover:text-white"></Github>
                Codigo de proyecto:
                <div>
                    <a href="https://github.com/dsarrion/talentodjs" 
                        class="ml-3 hover:underline hover:text-gray-300">
                        -Angular-
                    </a>
                    <a href="https://github.com/dsarrion/api-laravel-talentodjs"
                    class="ml-3 hover:underline hover:text-gray-300">
                        -Laravel-
                    </a>
                </div>               
                <Github class="size-5 ml-3 group-hover:text-white"></Github>
            </span>
                    
        </article>
    ))
}
