---
const PROJECTS = [
    {
        title: "TalentoDJs",
        description1:
            "Aplicación Web de Música para escuchar sesiones de DJs por géneros musicales, con funcionalidades como registro de usuarios, comentarios, avatar, likes, sección de mis favoritos...",
        description2:
            "Front-end realizado con Angular y el Back-end es una API RESTfull hecha en Laravel con base de datos MySQL despleguado en servidor en la nube, asegurando la escalabilidad y disponibilidad del servicio.",        link: "http://talentoDJs.com",
        github: "#",
        image: "/",
        tags: ["Angular", "Laravel", "MySQL", "TailwindCSS"],
    },
];
---

{
    PROJECTS.map(({ image, title, description1, description2, tags, link }) => (
        <article>
            <h3 class="text-3xl font-semibold italic text-indigo-300 mb-2 text-center">
                {title}
            </h3>
            <p class="text-white/80 text-pretty">{description1}</p>
            <p class="text-white/80 mb-4 text-pretty">{description2}</p>
            <ul class="flex justify-center text-gray-400/80 gap-5 text-center mb-1.5">
            {tags.map((tag) => (
                <li>{tag}</li>
            ))}
            </ul>            
            <div class="border border-gray-800/70 shadow-md shadow-indigo-900/70 rounded-lg p-1 bg-black">
                <a href={link}>          
                <img
                    class="rounded shadow-2xl"
                    src= "/assets/proy.2.jpg"
                    alt={`Captura de pantalla del proyecto ${image}`}
                />                
            </a>
            </div>       
            <div class="flex justify-center space-x-2 mt-6"> 
                <a href={link}>
                    <img
                    class="rounded-3xl max-h-[550px] mt-1.5"
                    src= "/public/assets/proy.4.png"
                    alt={`Captura de pantalla del proyecto ${image}`}/>
                
                    
                </a>
                <a href={link}>
                    <img
                    class="rounded-3xl max-h-[560px]"
                    src= "/public/assets/proy.3.png"
                    alt={`Captura de pantalla del proyecto ${image}`}/>
                </a>
            </div>
            
                    
        </article>
    ))
}
